---
layout: default
---

<div class="p-strip">
  <div class="row">
    <div class="col-10">

      <h2>Archive from {{ page.date | date: "%Y" }}</h2> {% for post in page.posts limit: 10 %}

      <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

    {{ post.excerpt | remove:'<div class="letter">' | textilize }}

    <p class="posted u-full-width">{{ post.date | date: "%-d %B %Y" }} | {{ post.categories | join: ', ' }}</p>

{% endfor %}

<h3>Older notices</h3>

      <ul>
        {% for post in page.posts offset: 10 %}
        <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> &mdash; {{ post.date | date: "%-d %B %Y" }} | {{ post.categories | join: ', ' }}</li>
        {% endfor %}
      </ul>

    </div>
  </div>
</div>
